.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}

@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,600;1,700;1,800;1,900&display=swap);

.wrapper {
    height: 100%;
    background-color: #E0E8FF;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #ffffff;
    width: 490px;
    height: 75%;
    border-radius: 10px;
    overflow: hidden;
    -moz-box-shadow: 5px 5px 5px rgba(85, 68, 241, 0.1);
    -webkit-box-shadow: 5px 5px 5px rgba(85, 68, 241, 0.1);
    box-shadow:  5px 5px 5px rgba(85, 68, 241, 0.1);
}

.hero-image {
    width: 100%;
}

.form-body {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.form-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.form-content {
    width: 65%;
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #8B8E9D;
}

.form-plan-selection {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 65%;
    padding: 20px;
    background-color: #F8F9FE;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.plan-selection-icon {
}

.left {
    display: flex;
    flex-direction: row;
}

.right {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.plan-selection-info {
    padding-left: 20px;
}

.plan-selection-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.plan-selection-price {
    flex: 1;
    color: #8B8E9D;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.button-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.custom-button {
    font-size: 16px;
    margin-top: 30px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    width: 65%;
    border: 1px solid transparent;
    border-radius: 10px;
  
}

.custom-button:hover {
    cursor: pointer;
}


.payout-button {
    background-color: #362AE4;
    color: white;
    -moz-box-shadow: 5px 5px 5px rgba(85, 68, 241, 0.1);
    -webkit-box-shadow: 5px 5px 5px rgba(85, 68, 241, 0.1);
    box-shadow:  5px 5px 5px rgba(85, 68, 241, 0.2);
}

.cancel-button {
    margin-top: 20px;
    background-color: white;
    color: #8B8E9D;
}